/*****************/
/* General style */
/*****************/


@media (min-width: 700px)
{
	body
	{
		background-image: url("../images/main_background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
	}
}


@media (max-width: 699px)
{
	html
	{
		min-height: 100%;
		background-image: url("../images/main_background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
	}

	body
	{
		padding: 5%;
		text-align: center;
		background-color: transparent;
	}
}


/***************/
/* Front style */
/***************/


@media (min-width: 700px)
{

	#front_page
	{
		text-align: center;
		vertical-align: center;
		padding-top: 10%;
		padding-bottom: 0%;
		color: #333;
		text-shadow: 1px 1px #aaa;
	}

	#front_page h1
	{
		color: #333;
		font-size: 128px;
		text-shadow: 1px 1px #aaa;
	}

	#front_page select
	{
		width: 40%;
	}

	#front_page .choices
	{
		padding: 5%;	
	}

	.osga_index_login a, .osga_index_login p
	{
		font-size: 18px;
		color: #ddd;
		text-shadow: 1px 1px #000;
		margin: 20px;
	}

}

@media (max-width: 699px)
{
	#front_page
	{
		text-align: center;
		padding: 5%;
		vertical-align: center;
		padding-top: 10%;
		padding-bottom: 10%;
		color: #333;
		text-shadow: 1px 1px #aaa;
	}

	#front_page h1
	{
		color: #333;
		font-size: 80px;
		text-shadow: 1px 1px #aaa;
	}

	#front_page select
	{
		width: 40%;
	}

	#front_page .choices
	{
		padding: 5%;	
	}

	.osga_index_login a, .osga_index_login p
	{
		font-size: 18px;
		color: #ddd;
		text-shadow: 1px 1px #000;
		margin: 20px;
	}
}



/****************/
/* Navbar style */
/****************/


@media (min-width: 770px)
{
	.navbar
	{
		padding:  3px 0px;
	}

	.nav-item
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	.osga_right_nav
	{
		margin-left: auto!important;
	}

	nav .navbar-brand
	{
		font-size: 25px;
		padding-top: 10px;
		padding-left: 0px;
		padding-bottom: 15px;
	}

	form
	{
		margin-left: 50px;
	}
}

@media (max-width: 769px)
{
	.navbar
	{
		text-align: center;
		justify-content: center;
	}

	.navbar-nav
	{
		padding-right: 5px;
		padding-left: 5px;
	}

	nav
	{
		justify-content: center;
		text-align: center;
	}

	nav .navbar-brand
	{
		font-size: 25px;
		padding-top: 0%;
	}

	form .btn
	{
		justify-content: center;
		display: none;
	}
}


/***************/
/* Pages style */
/***************/

#main h1
{
	margin-top: 2%;
}

#login_box
{
	z-index: 3;
}

.container
{
	border-bottom: 1px solid gray;
	background-color: white;
	text-align: center;
	/*margin-top: 5px;*/
}

#front_page #footer
{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 4% 0%;
	text-shadow: 1px 1px #000;
	color: #999;
}

#footer
{
	text-align: center;
	width: 100%;
	padding: 4%;
	text-shadow: 1px 1px #000;
	color: #999;
}

#footer a
{
	color: #999;
	text-shadow: 1px 1px #000;
	padding: 1%;
}

#footer a:hover
{
	text-shadow: 1px 1px #000;
	color: #ccc;
}


/*********************/
/* About and Contact */
/*********************/

#about
{
	text-align: left;
	padding: 15px 20px;
}

#about p
{
	margin-top: 15px;
}

#about li
{
	margin: 10px 5px;
}

#contact_desc input
{
	width: 30%;
}

#contact_desc textarea
{
	width: 80%;
	height: 100px;
}


/************************/
/* User and admin panel */
/************************/

#user_panel form
{
	margin: 1%;
}

#user_panel textarea
{
	width: 100%;
	height: 100px;
}

@media (min-width: 700px)
{
	#user_panel
	{
		text-align: left;
	}

	.user_panel
	{
		text-align: left;
		padding: 15px;
	}

	.user_panel table, .user_panel td
	{
		border: 0px solid gray;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 1px;
		padding-left: 1px;
		height: 0px;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.user_panel_flexrow
	{
		display: flex;
		flex-wrap: wrap;
		padding: 2% 0%;
	}

	.user_panel_flexelement
	{
		width: 30%;
		min-width: 200px;
	}

	.user_panel_flexelement button
	{
		width: 150px;
	}

	.admin_panel table, .admin_panel td
	{
		text-align: left;
		border: 1px solid gray;
		width: 90%;
		padding: 10px;
		height: 0px;
	}
}

@media (max-width: 699px)
{
	#user_panel
	{
		padding: 0%;
		font-size: 14px;
		text-align: left;
	}

	.user_panel
	{
		padding: 5px;
	}

	.user_panel table, .user_panel td
	{
		border: 0px solid gray;
		padding-top: 4px;
		padding-bottom: 4px;
		padding-right: 1px;
		padding-left: 1px;
		height: 0px;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.user_panel_flexrow
	{
		display: flex;
		flex-direction: column;
		padding: 5% 0%;
		justify-content: center;
	}

	.user_panel_flexelement
	{
		width: 100%;
		min-width: 200px;

		justify-content: center;
	}

	.user_panel_flexelement button
	{
		width: 150px;
	}


	.admin_panel table, .admin_panel td
	{
		text-align: left;
		border: 1px solid gray;
		width: 90%;
		padding: 5px;
		height: 0px;
	}
}

.register_panel table
{
	text-align: center;
	margin-left: 1%;
}

.register_panel td,.register_panel th
{
	text-align: left;
	border: 0px solid gray;
	padding: 10px;
	width: 5%;
	height: 0px;
}

.important_suggestion table
{
	border: 2px solid #444;
}

.read_suggestion table
{
	color: #aaa;
}

@media (min-width: 700px)
{
	.small_description
	{
		font-size: 14px;
	}
}

@media (max-width: 699px)
{
	.small_description
	{
		display: none;
	}
}


/*******************/
/* Character page */
/*******************/

#character_page .grave
{
	justify-content: center;
	margin: auto;
}

#character_page a
{
	color: #777;
}

@media (min-width: 800px)
{
	#character_info
	{
		float: left;
		width: 80%;
	}
}

@media (max-width: 799px)
{
	#character_info
	{
		width: 100%;
		justify-content: center;
		text-align: center;
	}
}

#character_info .character_name
{
	font-weight: 450;
	font-size: 16px;
	color: #667;
	text-shadow: 0px -1px #112;
}


#character_info .grave
{
	padding: 10px 5px;
	margin-bottom: 10px;
	justify-content: center;
	text-align: center;
	background-image: url("/static/images/gravestone.png");
	background-size: 170px 150px;
	background-repeat: no-repeat;
	background-position-x: center;
	width: 90%;
	color: #778;
	font-size: 14px;
	text-shadow: 0px -1px #334;

}

#character_info .grave_text
{
	padding-left: 15%;
}

#character_info .grave table
{
	margin: auto;
	text-align: center;
	justify-content: center;
}

#character_info .grave td
{
	width: 180px;
	height: 100px;
	justify-content: center;
}

#character_info .grave_plaque
{
	position: relative;
	background-color: darkgray;
	border:3px solid #808080;
	border-bottom: 20px solid #808080;
	border-left: 8px solid #808080;
	height: 100px;
	width: 170px;
	padding: 2px;
	margin: auto;
}

#character_info .grave_plaque img
{
	height: 20px;
}

#character_info .grave_message .grave_message_text
{
  visibility: hidden;
  background-color: #fd8;
  color: #222;
  font-size: 14px;
  text-align: center;
  padding: 2px 5px;
  border-radius: 6px;
 
  position: absolute;
  z-index: 2;
}

#character_messages
{
	text-align: left;
	padding: 2% 0%;
}

#character_messages_list
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
}

.character_message
{
	margin-top: 2%;
	margin-right: 2%;
	padding: 12px;
	border: 1px solid #aaa;
}

.character_message_header
{
	color: #444;
	font-size: 14px;
	font-weight: bold;
}

.character_message_content
{
	padding-top: 1%;	
}

@media (min-width: 800px)
{
	#other_characters
	{
		text-align: left;
		float: right;
		width: 20%;
		margin-top: 2%;
		padding-left: 2%;
		border-left: 1px solid gray;
	}

	#other_characters a
	{
		margin: 0px 5px;
	}
}

@media (max-width: 799px)
{
	#other_characters
	{
		width: 0%;
		display: none;
	}
}


.delete_message img
{
	max-height: 16px;
	margin-left: 5px;
	margin-bottom: 3px;
	cursor: pointer;
}

/************/
/* Cemetary */
/************/

#cemetery_grounds
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#flower_choice
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flower_choice_item
{
	margin: 20px;
	cursor: pointer;
}

#cemetery_grounds a:hover
{
	text-decoration: none;
}

@media (min-width: 700px)
{
	#cemetery_grounds .grave_text a
	{
		font-weight: 450;
		font-size: 16px;
		color: #667;
		text-shadow: 0px -1px #112;
		cursor: pointer;
	}

	.grave
	{
		text-align: center;
		padding-right: 5%;
		margin: 25px 20px;
		background-image: url("/static/images/gravestone.png");
		background-size: 170px 150px;
		background-repeat: no-repeat;
		width: 180px;
	}

	.grave_text
	{
		color: #778;
		font-size: 14px;
		text-shadow: 0px -1px #334;
	}

	.grave td
	{
		/*background-color: gray;*/
		width: 180px;
		height: 100px;
		padding-left: 0px;
	}

	.grave_plaque
	{
		position: relative;
		background-color: darkgray;
		border:3px solid #808080;
		border-bottom: 20px solid #808080;
		border-left: 8px solid #808080;
		height: 100px;
		width: 170px;
		padding: 2px;
		cursor: url('/static/images/flowers/0.png'), pointer;
	}

	.grave_plaque img
	{
		height: 20px;
	}

	.grave_message .grave_message_text
	{
	  visibility: hidden;
	  background-color: #fd8;
	  color: #222;
	  font-size: 14px;
	  text-align: center;
	  padding: 2px 5px;
	  border-radius: 6px;
	 
	  position: absolute;
	  z-index: 2;
	}
}

@media (max-width: 699px)
{
	#cemetery_grounds .grave_text a
	{
		font-size: 10px;
		color: #667;
		text-shadow: 0px -1px #112;
		cursor: pointer;
	}

	#cemetery_grounds .grave
	{
		text-align: center;
		margin: 10px 0px;
		background-image: url("/static/images/gravestone.png");
		background-size: 110px 100px;
		background-repeat: no-repeat;
		font-size: 10px;
	}

	#cemetery_grounds .grave td
	{
		/*background-color: gray;*/
		width: 120px;
		height: 60px;
		padding-left: 0px;
		margin: 5px;
	}

	#cemetery_grounds .grave_plaque
	{
		position: relative;
		background-color: darkgray;
		border:2px solid #808080;
		border-bottom: 10px solid #808080;
		border-left: 5px solid #808080;
		height: 75px;
		width: 110px;
		padding: 0px;
		cursor: url('/static/imgages/flowers/0.png'), pointer;
	}

	#cemetery_grounds .grave_plaque img
	{
		height: 15px;
	}

	#cemetery_grounds .grave_message .grave_message_text
	{
	  visibility: hidden;
	  background-color: #fd8;
	  color: #222;
	  font-size: 10px;
	  text-align: center;
	  padding: 2px 3px;
	  border-radius: 4px;
	  max-width: 40%;
	 
	  position: absolute;
	  z-index: 2;
	}
}

.grave_text td
{
	padding-left: 4%;
	padding-right: 2%;
}


.grave_message:hover .grave_message_text 
{
  visibility: visible;
}



/*******************************************/
/* W3Schools code for dropdown search menu */
/*******************************************/

#osga_main_search
{
	text-align: center;
}

#main_dropdown_list
{
	text-align: center;
	background-color: transparent;
	width: 100%;
}

/* The search field */
#main_input 
{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	border-bottom: 0px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#main_input:focus {outline: 0px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
#main_dropdown
{
	position: relative;
}

#main_dropdown .osga_dropdown_content
{
	text-align: center;
	z-index: 2;
	padding-top: 30px;
	padding-left: 25%
	width: 50%;
}

#top_dropdown_list
{
	text-align: center;
	background-color: transparent;
	width: 100%;
	margin: -15px 0px;
	padding: 0px 20px;
	z-index: 2;
	
}

/* The search field */
#top_input 
{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	border-bottom: 1px solid #ddd;	
}

/* The search field when it gets focus/clicked on */
#top_input:focus {outline: 0px solid #ddd;}


@media (min-width: 700px)
{
	/* The container <div> - needed to position the dropdown content */
	.top_dropdown 
	{
		text-align: center;
		width: 400px;
		z-index: 2;
		position: relative;
	}

	/* Dropdown Content (Hidden by Default) */
	.osga_dropdown_content 
	{
		position: absolute;
		top: 0px;
		left: 0px;
		text-align: center;
		width: 70%;
		padding: 2% 30%;
		display: block;
		color: black;
		background-color: #f6f6f6;
		overflow: auto;
		z-index: 2;
	}

	/* Links inside the dropdown */
	.osga_dropdown_content a 
	{
		text-align: left;
		color: black;
		padding: 4px 10px;
		background-color: #eee;
		border-left: 1px solid gray;
		box-shadow: 2px 2px 2px #888;
		text-decoration: none;
		display: none;	
		overflow: auto;
		z-index: 2;
	}
}


@media (max-width: 699px)
{
	/* The container <div> - needed to position the dropdown content */
	.top_dropdown 
	{
		position: relative;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 0px;
		width: 300px;
		z-index: 9999;
		position: relative;
	}

	/* Dropdown Content (Hidden by Default) */
	.osga_dropdown_content 
	{
		position: absolute;
		top: 0px;
		left: 0px;
		text-align: center;
		width: 89%;
		padding: 11%;
		display: block;
		color: black;
		background-color: #f6f6f6;
		overflow: auto;
		z-index: 2;
	}

	/* Links inside the dropdown */
	.osga_dropdown_content a 
	{
		text-align: left;
		color: black;
		padding: 4px 10px;
		background-color: #eee;
		border-left: 1px solid gray;
		box-shadow: 2px 2px 2px #888;
		text-decoration: none;
		display: none;	
		overflow: auto;
		z-index: 2;
	}
}

/* Change color of dropdown links on hover */
.osga_dropdown_content a:hover {background-color: #f1f1f1}

.show {display: block;}


