/*****************/
/* General style */
/*****************/


@media (min-width: 700px)
{
	body
	{
		background-image: url("../images/main_background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
	}
}


@media (max-width: 699px)
{
	html
	{
		min-height: 100%;
		background-image: url("../images/main_background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
	}

	body
	{
		padding: 5%;
		text-align: center;
		background-color: transparent;
	}
}


/***************/
/* Front style */
/***************/


@media (min-width: 700px)
{

	#front_page
	{
		text-align: center;
		vertical-align: center;
		padding-top: 10%;
		padding-bottom: 10%;
		color: #333;
		text-shadow: 1px 1px #aaa;
	}

	#front_page h1
	{
		color: #333;
		font-size: 128px;
		text-shadow: 1px 1px #aaa;
	}

	#front_page select
	{
		width: 40%;
	}

	#front_page .choices
	{
		padding: 5%;	
	}

	.osga_index_login a, .osga_index_login p
	{
		font-size: 18px;
		color: #ddd;
		text-shadow: 1px 1px #000;
		margin: 20px;
	}

}

@media (max-width: 699px)
{
	#front_page
	{
		text-align: center;
		padding: 5%;
		vertical-align: center;
		padding-top: 10%;
		padding-bottom: 10%;
		color: #333;
		text-shadow: 1px 1px #aaa;
	}

	#front_page h1
	{
		color: #333;
		font-size: 80px;
		text-shadow: 1px 1px #aaa;
	}

	#front_page select
	{
		width: 40%;
	}

	#front_page .choices
	{
		padding: 5%;	
	}

	.osga_index_login a, .osga_index_login p
	{
		font-size: 18px;
		color: #ddd;
		text-shadow: 1px 1px #000;
		margin: 20px;
	}
}



/****************/
/* Navbar style */
/****************/


@media (min-width: 770px)
{
	.nav-item
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	.osga_right_nav
	{
		margin-left: auto!important;
	}

	nav .navbar-brand
	{
		font-size: 25px;
		padding-top: 0%;
		padding-left: 0px;
	}

	form
	{
		margin-left: 50px;
	}
}

@media (max-width: 769px)
{
	.navbar
	{
		text-align: center;
		justify-content: center;
	}

	.navbar-nav
	{
		padding-right: 5px;
		padding-left: 5px;
	}

	nav
	{
		justify-content: center;
		text-align: center;
	}

	nav .navbar-brand
	{
		font-size: 25px;
		padding-top: 0%;
	}

	form .btn
	{
		justify-content: center;
		display: none;
	}
}


/***************/
/* Pages style */
/***************/

#main h1
{
	margin-top: 2%;
}

.container
{
	border-bottom: 1px solid gray;
	background-color: white;
	text-align: center;
	/*margin-top: 5px;*/
}


#user_panel form
{
	margin: 1%;
}

#user_panel textarea
{
	width: 100%;
	height: 100px;
}

@media (min-width: 700px)
{
	#user_panel
	{
		text-align: left;
	}

	.user_panel
	{
		text-align: left;
		padding: 15px;
	}

	.user_panel table, .user_panel td
	{
		border: 0px solid gray;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 1px;
		padding-left: 1px;
		height: 0px;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.user_panel_flexrow
	{
		display: flex;
		flex-wrap: wrap;
		padding: 2% 0%;
	}

	.user_panel_flexelement
	{
		width: 30%;
		min-width: 200px;
	}

	.user_panel_flexelement button
	{
		width: 150px;
	}

	.admin_panel table, .admin_panel td
	{
		text-align: left;
		border: 1px solid gray;
		width: 90%;
		padding: 10px;
		height: 0px;
	}
}

@media (max-width: 699px)
{
	#user_panel
	{
		padding: 0%;
		font-size: 14px;
		text-align: left;
	}

	.user_panel
	{
		padding: 5px;
	}

	.user_panel table, .user_panel td
	{
		border: 0px solid gray;
		padding-top: 4px;
		padding-bottom: 4px;
		padding-right: 1px;
		padding-left: 1px;
		height: 0px;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.user_panel_flexrow
	{
		display: flex;
		flex-direction: column;
		padding: 5% 0%;
		justify-content: center;
	}

	.user_panel_flexelement
	{
		width: 100%;
		min-width: 200px;

		justify-content: center;
	}

	.user_panel_flexelement button
	{
		width: 150px;
	}


	.admin_panel table, .admin_panel td
	{
		text-align: left;
		border: 1px solid gray;
		width: 90%;
		padding: 5px;
		height: 0px;
	}
}

.register_panel table
{
	text-align: center;
	margin-left: 1%;
}

.register_panel td,.register_panel th
{
	text-align: left;
	border: 0px solid gray;
	padding: 10px;
	width: 5%;
	height: 0px;
}

.important_suggestion table
{
	border: 2px solid #444;
}

.read_suggestion table
{
	color: #aaa;
}

@media (min-width: 700px)
{
	.small_description
	{
		font-size: 14px;
	}
}

@media (max-width: 699px)
{
	.small_description
	{
		display: none;
	}
}

/************/
/* Cemetary */
/************/

#cemetary_grounds
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#flower_choice
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flower_choice_item
{
	margin: 20px;
	cursor: pointer;
}

@media (min-width: 700px)
{

	.grave
	{
		text-align: center;
		padding-right: 5%;
		margin: 25px 20px;
		background-image: url("/static/images/gravestone.png");
		background-size: 170px 150px;
		background-repeat: no-repeat;
		width: 180px;
	}

	.grave td
	{
		/*background-color: gray;*/
		width: 180px;
		height: 120px;
		padding-left: 0px;
	}

	.grave_plaque
	{
		background-color: darkgray;
		border:3px solid #808080;
		border-bottom: 20px solid #808080;
		border-left: 8px solid #808080;
		height: 80px;
		width: 170px;
		padding: 2px;
	}

	.grave_plaque img
	{
		height: 20px;
	}

	.grave_message .grave_message_text
	{
	  visibility: hidden;
	  background-color: #fd8;
	  color: #222;
	  font-size: 14px;
	  text-align: center;
	  padding: 2px 5px;
	  border-radius: 6px;
	 
	  position: absolute;
	  z-index: 1;
	}
}

@media (max-width: 699px)
{
	.grave
	{
		text-align: center;
		padding-right: 5%;
		margin: 10px 5px;
		background-image: url("/static/images/gravestone.png");
		background-size: 110px 100px;
		background-repeat: no-repeat;
		font-size: 10px;
	}

	.grave td
	{
		/*background-color: gray;*/
		width: 120px;
		height: 70px;
		padding-left: 0px;
	}

	.grave_plaque
	{
		background-color: darkgray;
		border:2px solid #808080;
		border-bottom: 10px solid #808080;
		border-left: 5px solid #808080;
		height: 60px;
		width: 110px;
		padding: 0px;
	}

	.grave_plaque img
	{
		height: 15px;
	}

	.grave_message .grave_message_text
	{
	  visibility: hidden;
	  background-color: #fd8;
	  color: #222;
	  font-size: 10px;
	  text-align: center;
	  padding: 2px 3px;
	  border-radius: 4px;
	  max-width: 40%;
	 
	  position: absolute;
	  z-index: 2;
	}
}

.grave_text td
{
	padding-left: 4%;
	padding-right: 2%;
}


.grave_message:hover .grave_message_text 
{
  visibility: visible;
}



/*******************************************/
/* W3Schools code for dropdown search menu */
/*******************************************/

#osga_main_search
{
	text-align: center;
}

#myDropdown
{
	text-align: center;
	background-color: transparent;
	width: 100%;
}

/* The search field */
#myInput 
{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	border-bottom: 0px solid #ddd;
	
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 0px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
#main_dropdown 
{
	text-align: center;
}


@media (min-width: 700px)
{
	/* Dropdown Content (Hidden by Default) */
	.dropdown-content 
	{
		text-align: center;
		width: 70%;
		padding: 2% 30%;
		display: block;
		color: black;
		background-color: #f6f6f6;
		overflow: auto;
		z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a 
	{
		text-align: left;
		color: black;
		padding: 4px 10px;
		background-color: white;
		text-decoration: none;
		display: none;
	}
}


@media (max-width: 699px)
{
	/* Dropdown Content (Hidden by Default) */
	.dropdown-content 
	{
		text-align: center;
		width: 89%;
		padding: 11%;
		display: block;
		color: black;
		background-color: #f6f6f6;
		overflow: auto;
		z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a 
	{
		text-align: left;
		color: black;
		padding: 4px 10px;
		background-color: white;
		text-decoration: none;
		display: none;
	}
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.show {display: block;}
