{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="about" class="col-12" role="main">
	<h1>About OSGA</h1>
	<div id="about_desc">
		<p>
		OSGA aims to provide a mourning place for all lovers of TV shows who lost their favourite character on screen. Each show has its own cemetary, where you can find the resting place of your favourite character and leave messages and flowers.
		<br><br>
		OSGA (One Site to Grieve them All) started out in May 2020 as a student project during the Web App course of the minor Fulltime Programmeren (Fulltime Programming) at the University of Amsterdam. We all know the pain of losing our favourite character in a book, movie or TV show. Some years ago, when the show was still running, the website Slate made a fictional graveyard where it was possible to leave flowers on the graves of deceased Game of Thrones characters. OSGA was born based on this idea, extended to many other series or shows, with many more features (as you can see if you are a registered user)!<br><br>
		</p>
		<h2>About the team</h2>
			<p>
			For now, the "team" only consists of one person (Charlotte, who created this website), but if OSGA becomes larger (more shows, more users, more characters to add, more comments to moderate), moderators will probably be needed! :)<br><br>
			</p>

		<h2>Acknowledgments</h2>
		<p>
			This website was made by one person but clearly, it wouldn't exist nor be the way it is if it wasn't for a bunch of help from other people!<br>
			So I would like to give a shout out to all the people to whom I'm very thankful for helping make this possible:
			<ul>
				<li>
					All the staff of Minor Fulltime Programmeren, who provided a lot of time and help to motivate students even during harsh COVID times! Special mention to Martijn, Quinten and Marijn, for your dedication and implication, direct or indirect; without you guys I wouldn't have had the motivation, knowledge and skills to make this website the way it is!
				</li>
				<li>
					Grégoire and Charly for the fine CSS tips, panic rubber-duck debugging and also for proving me that Javascript isn't all that bad after all (see, I said it)
				</li>
				<li>
					And all the people who have been enthusiastically supporting OSGA ever since I first mentionned its idea: Lucie, Louise, Victoire, Pauline, Wilco, Julie, Alexandra, and my parents (hi!)
				</li>
			</ul>
			Thank you so much! :)
		</p>
	</div>
</main>
{% endblock %}