{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="about" class="col-12" role="main">
	<h1>{{ title }}</h1>
	<div id="about_desc">
		<p>
		{{ content["about_desc"]|safe }}
		</p>
		<h2>{{ content["team_title"] }}</h2>
			<p>
			{{ content["team_desc"]|safe }}
			<br><br>
			</p>

		<h2>{{ content["acknowledgments_title"] }}</h2>
		<p>
			{{ content["acknowledgments_desc"]|safe }}
			<br><br>
		</p>

		<h2>{{ content["attribution_title"] }}</h2>
		<p>
			{{ content["attribution_desc"]|safe }}
		</p>
	</div>
</main>
{% endblock %}