{% extends "layout_pages.html" %}

{% block inside_row %}
<script>
	function declare_death_box()
	{
		document.getElementById('character_name').innerHTML=document.getElementById('character').value;
		document.getElementById('validation_box').style.display='block';
	}
</script>

<main id="admin_panel" class="col-12" role="main">
	<h1>Admin panel</h1>
	<ul class="nav nav-tabs">
  		<li class="nav-item">
    		<a class="nav-link {{ selected_moderate_comments }}" href="/admin_panel/moderate_comments">Moderate comments</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link {{ selected_declare_death }}" href="/admin_panel/declare_death">Declare character death</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link {{ selected_manage_suggestions }}" href="/admin_panel/manage_suggestions">Manage suggestions</a>
	  	</li>
	</ul>
	<div class="admin_panel">
		{% if message %}
			<p class="alert alert-info">{{ message }}</p>
		{% endif %}
	  		{% if selected_moderate_comments %}
  			<p>
	  			<h3>Comments validation</h3>
	  			{% if unvalidated_comments %}
		  			{% for comment in unvalidated_comments %}
				  		<table>
				  			<tr>
				  				<th>[{{ comment['message'].date.strftime('%Y-%m-%d') }}] <a href="/user_profile/{{ comment['message'].user_id }}">{{ comment['username'] }}</a> on {{ comment['character_name'] }}'s grave ({{ comment['character_show'] }})</th>
				  			</tr>
				  			<tr>
				  				<td>
				  					{{ comment['message'].content }}
				  				</td>
							</tr>
							<tr>
								<td>
									<form action="moderate_comment/{{ comment['message'].id }}" method="post">
										<input type="submit" name="validate" value="Validate"> 
										<input type="submit" name="refuse" value="Refuse"> 
										<input type="submit" name="block" value="Refuse + Block user">
									</form>  
								</td>
							</tr>
						</table>
						<br>
					{% endfor %}
				{% else %}
				There are no messages waiting to be approved!
				{% endif %}
			</p>

			{% elif selected_manage_suggestions %}
  			<p>
	  			<h3>Manage suggestions</h3>
	  			{% if suggestions_count > 0 %}
		  			{% for suggestion in suggestions %}
		  				{% if suggestion.is_important %}
		  					<div class="important_suggestion">
		  				{% elif suggestion.is_read %}
		  					<div class="read_suggestion">
		  				{% else %}
		  					<div>
		  				{% endif %}
						  		<table>
						  			<tr>
						  				<th>[{{ suggestion.date.strftime('%Y-%m-%d') }}] <a href="/user_profile/{{ suggestion.user_id }}">User #{{ suggestion.user_id }}</a></th>
						  			</tr>
						  			{% if suggestion.show %}
						  			<tr>
						  				<td>
						  					Suggested show: {{ suggestion.show }}
						  				</td>
									</tr>
									{% endif %}
									{% if suggestion.content %}
						  			<tr>
						  				<td>
						  					Suggestion: {{ suggestion.content }}
						  				</td>
									</tr>
									{% endif %}
									<tr>
										<td>
											<form action="/manage_suggestions/{{ suggestion.id }}" method="post">
												{% if suggestion.is_important %}
													<input type="submit" name="important" value="Unmark as important"> 
												{% else %}
													<input type="submit" name="important" value="Mark as important"> 
												{% endif %}
											
												{% if suggestion.is_read %}
													<input type="submit" name="read" value="Unmark as read"> 
												{% else %}
													<input type="submit" name="read" value="Mark as read"> 
												{% endif %}
												
												<input type="submit" name="delete" value="Delete"> 
												<input type="submit" name="block" value="Delete + Block user">
											</form>  
										</td>
									</tr>
								</table>
								<br>
							</div>
					{% endfor %}
				{% else %}
				There are no suggestions yet!
				{% endif %}
			</p>
		
	  		{% else %}
	  		<p>
		  		<h3>Declare a character's death</h3>
		  		<form action="/admin_panel/declare_death" method="post">
			  		<table>
			  			<tr>
			  				<td>
			  					Series: 
		  						<select name="declare_death_show_search" id="declare_death_show_search" data-choice placeholder="Search for cemetary" class="search-query" width="400px">
									{% for show in shows %}
									<option value="{{ show['title'] }}">{{ show['title'] }}</option>
									{% endfor %}
								</select>
								<br>
							  	Character: <input name="character" id="character" type="text"><br>
							  	Season: <input name="declare_death_season" type="text"><br>
							  	Episode: <input name="declare_death_episode" type="text"><br>
							</td>
						</tr>
						<tr>
							<td>
								<button type="button" onclick="declare_death_box()">Declare character death :(</button>
							</td>
						</tr>
					</table>
					<div id="validation_box" class="modal" display="none">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5>Declare Death</h5>
								</div>
								<div class="modal-body">
									<p>
										Are you sure you want to declare <b id="character_name">Character 0</b> as dead? A grave will immediately appear in their universe's cemetary.
										<br><br>
										<input type="submit" id="character" value="Yes, this character is dead.">
										<button onclick="document.getElementById('validation_box').style.display='none'">Oh wait, no!</button>
									</p>
								</div>
							</div>
						</div>  
					</div>
				</form>
			</p>			
  		{% endif %}
	  	</div>

</main>
{% endblock %}