{% extends "layout_pages.html" %}

{% block inside_row %}

<script>
	{% if current_user.id %}
		var user_id = {{ current_user.id }};
	{% else %}
		var user_id = -1;
	{% endif %}
</script>

<script src="/static/javascript/cemetery.js"></script>

<main id="cemetery_page" class="col-12" role="main">
	<h1>{{ show_title }}</h1>
	<h2>{{ content["memorial_grounds_title"]|safe }}</h2>

	{% if current_user.is_authenticated %}
		<br>
		{% if is_blocked %}
			{{ content["blocked_account_message"] }}
		{% else %}
			{{ content["registered_welcome_message"] }}<br><br>{{ content["registered_welcome_message_2"] }}
			<div id="flower_choice">
				<p>
				{% for i in range(4) %}
					<span class="flower_choice_item" onclick="change_current_flower({{ i }})"><img src="/static/images/flowers/{{ i }}.png" alt="Flower {{ i }}" height="20"></span>
				{% endfor %}
				<span class="flower_choice_item" onclick="change_current_flower(-1)"><img src="/static/images/flowers/scroll.png" alt="Message" height="20"> </span>
				</p>
			</div>
		{% endif %}
	{% else %}
		{{ content["unregistered_welcome_message"] }}<br>{{ content["unregistered_welcome_message_2"] }}	
	{% endif %}
	<br>
	{% if is_universe %}
	<form action="{{ url_for('universe', cemetery_id=show_id) }}" method="post">
		{{ content["sort_graves_by_label"] }}  
		<select name="graves_sorting">
			<option value="chronological">{{ content["chronological_order_label"] }}</option>
			<option value="popularity">{{ content["popularity_label"] }}</option>
		</select>
		<button>{{ content["reload_button"] }}</button>
	</form>
	{% else %}
	<form action="{{ url_for('cemetery', cemetery_id=show_id) }}" method="post">
		{{ content["sort_graves_by_label"] }} 
		<select name="graves_sorting">
			<option value="chronological">{{ content["chronological_order_label"] }}</option>
			<option value="popularity">{{ content["popularity_label"] }}</option>
		</select>
		<button>{{ content["reload_button"] }}</button>
	</form>
	{% endif %}
	<br>
	
	<div id="add_message_box" class="modal" display="none">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						{{ content["leave_message_message"] }}<br>
						<input type="text" id="message_text">
						<br><br>
						<button onclick="leave_message()">{{ content["leave_message_button"] }}</button>
					</p>
				</div>
			</div>
		</div>  
	</div>

	{% if is_spoiler %}
	<div id="display_spoiler_cemetery" display="block">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						{{ content["show_in_blacklist_message"] }}<br>
						<br>
						<button onclick="display_spoiler_cemetery()">{{ content["view_anyway_button"] }}</button>
					</p>
				</div>
			</div>
		</div>  
	</div>
	{% endif %}

	<div id="cemetery_grounds" align="center">
			{% for i in range(graves_count) %}
				{% if characters[i] %}
				<div class="grave">
					<table>
						<tr class="grave_text">
							<td>
								<a href="/character/{{ characters[i].id }}">{{ characters[i].name }}</a><br>
								{% if show_series %}
									{% if show_seasons_count > 1 %}
										{{ content["season_capital_label"] }} {{ characters[i].death_season }}
									{% endif %}
									{{ content["episode_capital_label"] }} {{ characters[i].death_episode }}
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>
								<div id="grave_{{ i }}" class="grave_plaque" grave_id="{{ i }}" character_id="{{ characters[i].id }}" flower_count="{{ characters[i].flowers|length }}">
									{% for flower in characters[i].flowers %}
										<img src="/static/images/flowers/{{ flower.flowertype_id }}.png" alt="flower" style="position: absolute; 
										left: {% if flower.pos_x > 90 %}90{% else %} {{ flower.pos_x - 5 }}{% endif %}%;
										top: {% if flower.pos_y > 75 %}75{% else %} {{ flower.pos_y - 15 }}{% endif %}%;
										pointer-events: none
										">
									{% endfor %}
									{% for message in characters[i].messages %}
										{% if message.admin_id > 0 %}
										<span id="grave_message{{ i }}" class="grave_message">
											<span class="grave_message_text">{{ message.content }}</span>
											<img src="/static/images/flowers/scroll.png" alt="{{ message.content }}">
										</span>
										{% endif %}
									{% endfor %}
								</div><br>
								{% if characters[i].flowers|length == 1 %}
									<span id="grave_{{ i }}_count">1</span>{{ content["flower"] }}
								{% else %}
									<span id="grave_{{ i }}_count">{{ characters[i].flowers|length }}</span>{{ content["flowers"] }}
								{% endif %}
							</td>
						</tr>
					</table>
				</div>
				{% endif %}
			{% endfor %}
		
	</div>


<script src="/static/javascript/cemetery_loaded.js">
</script>

<script>
	{% if is_spoiler %}
	document.querySelector('#cemetery_grounds').style.display = "none";
	{% endif %}
</script>

</main>
{% endblock %}
