{% extends "layout_pages.html" %}

{% block inside_row %}

<script>
	let screen_width = window.screen.width;
	let counter_flowers = [];
	let counter_messages = [];
	let graves_messages = [];
	let current_flower_id = 0;
	let current_character_id = 0;

	// Initializes height and width of grave plaque. Actual value is given at the end of this page, after DOM is loaded.
	var grave_plaque_height = 0;
	var grave_plaque_width = 0;

	{% if current_user.id %}
		let user_id = {{ current_user.id }};
	{% else %}
		let user_id = -1;
	{% endif %}

	let last_click_pos = { x:0, y:0 }

	function change_current_flower(flower_id)
	{
		current_flower_id = flower_id;
		let plaques = document.getElementsByClassName('grave_plaque');

		for (var i = 0; i < plaques.length; i++)
		{
			let current_plaque = plaques[i]
			current_plaque.style.cursor = "url('/static/images/flowers/" + current_flower_id + "_small.png'), url('/static/images/flowers/scroll_small.png'), pointer";
		}
	}

	function change_last_click(e) 
	{
		var rect = e.target.getBoundingClientRect();
		var x = Math.round((e.clientX - rect.left) * 100 / grave_plaque_width);
		var y = Math.round((e.clientY - rect.top) * 100 / grave_plaque_height);
		last_click_pos = { x, y };
		return { x,	y };
	}

	function add_message(grave_id, character_id)
	{
		document.querySelector('#add_message_box').grave = grave_id;
		document.querySelector('#add_message_box').style.display = "block";
		current_character_id = character_id;
	}

	function add_flower(grave_id, character_id)
	{
		if (counter_flowers[grave_id])
		{
			counter_flowers[grave_id]++;
		}
		else
		{
			counter_flowers[grave_id] = parseInt(document.querySelector('#grave_'+grave_id+'_count').innerHTML) + 1;
		}

		let grave = document.querySelector('#grave_'+grave_id+'_count');
		grave.innerHTML = counter_flowers[grave_id];
		
		let flower = document.createElement("img");
		flower.src = "/static/images/flowers/"+current_flower_id+".png";
		flower.alt = "flower";
		flower.height = "20";
		flower.style.position = "absolute"
		flower.style.top = Math.min(last_click_pos.y - 15, 75) + "%"
		flower.style.left = Math.max(0, Math.min(last_click_pos.x - 10, 90)) + "%"

		document.querySelector('#grave_'+grave_id).appendChild(flower);
	}

	function add_to_grave(e) 
	{
		grave_id = e.target.getAttribute('grave_id');
		character_id = e.target.getAttribute('character_id');

		if (current_flower_id == -1)
		{
			add_message(grave_id, character_id);
		}
		else
		{
			add_flower(grave_id, character_id);	

			// Sends AJAX request to save flower
			var xhttp = new XMLHttpRequest();
			ajax_url = "/save_flower/"+character_id+"/"+current_flower_id+"/"+last_click_pos.x+"/"+last_click_pos.y;
			xhttp.open("GET", ajax_url, true);
			xhttp.send();
		} 
	}


	function leave_message()
	{
		grave_id = document.querySelector('#add_message_box').grave;
		new_message = document.querySelector('#message_text').value;

		if (!graves_messages[grave_id])
		{
			graves_messages[grave_id] = [];
			counter_messages[grave_id] = 1;
		}
		else
		{
			counter_messages[grave_id]++;
		}

		graves_messages[grave_id].push(new_message);

		let message_div = document.createElement("span");
		message_div.id = "grave_message"+grave_id;
		message_div.classList.add("grave_message");
		document.querySelector('#grave_'+grave_id).appendChild(message_div);

		let message_text = document.createElement("span");
		message_text.classList.add("grave_message_text");
		message_text.innerHTML = new_message;
		document.querySelector('#grave_message'+grave_id).appendChild(message_text);

		let message = document.createElement("img");
		message.src = "/static/images/flowers/scroll.png";
		message.alt = "message";
		message.height = "20";
		document.querySelector('#grave_message'+grave_id).appendChild(message);

		var xhttp = new XMLHttpRequest();
		ajax_url = "/save_message";
		xhttp.open("POST", ajax_url, true);
		xhttp.setRequestHeader("Content-Type", "application/json");
		
        xhttp.onreadystatechange = function () 
        {
            if (xhttp.readyState === 4 && xhttp.status === 200) 
            {
                var jsonData = JSON.parse(xhttp.response);
                console.log(jsonData);
            }
        };
        var data = JSON.stringify({"message": new_message, "user_id": user_id, "character_id": current_character_id });
        console.log(data);
        xhttp.send(data);

		document.querySelector('#add_message_box').style.display = "none";	
	}


	function display_spoiler_cemetery() {
		document.querySelector('#cemetery_grounds').style.display = "flex";
		document.querySelector('#display_spoiler_cemetery').style.display = "none";			
	}

</script>


<main id="cemetery_page" class="col-12" role="main">
	<h1>{{ show_title }}</h1>
	<h2>Memorial Grounds</h2>

	{% if current_user.name %}
		<br>
		{% if is_blocked %}
			Your account has been blocked: you can't leave public flowers nor messages on graves anymore. You can leave temporary flowers, they just won't be registered.
		{% else %}
			Welcome to {{ show_title }}'s cemetery. Here you can leave flowers or messages to your favourite characters. Messages will be reviewed by the maintenance of this cemetery for approval before they can be displayed to the public.
			<br><br>
			To select a different type of flower than the default red rose, or to leave a message, click on the picture of the item type you wish to use here under.
			<br><br>
			<div id="flower_choice">
				<p>
				{% for i in range(4) %}
					<span class="flower_choice_item" onclick="change_current_flower({{ i }})"><img src="/static/images/flowers/{{ i }}.png" alt="Flower {{ i }}" height="20"></span>
				{% endfor %}
				<span class="flower_choice_item" onclick="change_current_flower(-1)"><img src="/static/images/flowers/scroll.png" alt="Message" height="20"> </span>
				</p>
			</div>
		{% endif %}
	{% else %}
		Welcome to {{ show_title }}'s cemetery. You can click on a grave to leave a flower in memory of a character.
		<br>
		Registered users can leave several types of flowers as well as messages.
		<br>
	
	{% endif %}
	<br>
	<form action="{{ url_for('cemetery', cemetery_id=show_id) }}" method="post">
		Sort graves by: 
		<select name="graves_sorting">
			<option value="chronological">Chronological order</option>
			<option value="popularity">Popularity</option>
		</select>
		<button>Reload</button>
	</form>
	<br>
	
	<div id="add_message_box" class="modal" display="none">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						Write here the message you want to leave. Other visitors will be able to see it once the cemetery maintenance will have approved it.<br>
						<input type="text" id="message_text">
						<br><br>
						<button onclick="leave_message()">Leave message.</button>
					</p>
				</div>
			</div>
		</div>  
	</div>

	{% if is_spoiler %}
	<div id="display_spoiler_cemetery" display="block">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						This is the cemetery of a show in your spoilers blacklist! Are you sure you want to view it?<br>
						<br>
						<button onclick="display_spoiler_cemetery()">View anyway.</button>
					</p>
				</div>
			</div>
		</div>  
	</div>
	{% endif %}

	<div id="cemetery_grounds" align="center">
			{% for i in range(graves_count) %}
				{% if characters[i] %}
				<div class="grave">
					<table>
						<tr class="grave_text">
							<td>
								<a href="/character/{{ characters[i].id }}">{{ characters[i].name }}</a><br>
								Season {{ characters[i].death_season }} Episode {{ characters[i].death_episode }}
							</td>
						</tr>
						<tr>
							<td>
								<div id="grave_{{ i }}" class="grave_plaque" grave_id="{{ i }}", character_id="{{ characters[i].id }}">
									{% for flower in characters[i].flowers %}
										<img src="/static/images/flowers/{{ flower.flowertype_id }}.png" alt="flower" style="position: absolute; 
										left: {% if flower.pos_x > 90 %}90{% else %} {{ flower.pos_x - 5 }}{% endif %}%;
										top: {% if flower.pos_y > 75 %}75{% else %} {{ flower.pos_y - 15 }}{% endif %}%
										">
									{% endfor %}
									{% for message in characters[i].messages %}
										{% if message.admin_id > 0 %}
										<span id="grave_message{{ i }}" class="grave_message">
											<span class="grave_message_text">{{ message.content }}</span>
											<img src="/static/images/flowers/scroll.png" alt="{{ message.content }}">
										</span>
										{% endif %}
									{% endfor %}
								</div><br>
								{% if characters[i].flowers|length == 1 %}
									<span id="grave_{{ i }}_count">1</span> flower.
								{% else %}
									<span id="grave_{{ i }}_count">{{ characters[i].flowers|length }}</span> flowers.
								{% endif %}
							</td>
						</tr>
					</table>
				</div>
				{% endif %}
			{% endfor %}
		
	</div>


<script>

	let graves_plaques = document.getElementsByClassName('grave_plaque');
	for (var i = 0; i < graves_plaques.length; i++) 
	{
		current_grave = graves_plaques[i];
    	current_grave.addEventListener('click', change_last_click, true);
    	current_grave.addEventListener('click', add_to_grave);
	}

	grave_plaque_height = graves_plaques[0].scrollHeight; 
	grave_plaque_width = graves_plaques[0].scrollWidth;

	{% if is_spoiler %}
		document.querySelector('#cemetery_grounds').style.display = "none";
	{% endif %}
</script>
</main>
{% endblock %}
