{% extends "layout_pages.html" %}

{% block inside_row %}

<script>
	{% if current_user.id %}
		var user_id = {{ current_user.id }};
	{% else %}
		var user_id = -1;
	{% endif %}
</script>

<script src="/static/javascript/cemetery.js"></script>

<main id="cemetery_page" class="col-12" role="main">
	<h1>{{ show_title }}</h1>
	<h2>Memorial Grounds</h2>

	{% if current_user.is_authenticated %}
		<br>
		{% if is_blocked %}
			Your account has been blocked: you can't leave public flowers nor messages on graves anymore. You can leave temporary flowers, they just won't be registered.
		{% else %}
			Welcome to {{ show_title }}'s cemetery. Here you can leave flowers or messages to your favourite characters. Messages will be reviewed by the maintenance of this cemetery for approval before they can be displayed to the public.
			<br><br>
			To select a different type of flower than the default red rose, or to leave a message, click on the picture of the item type you wish to use here under.
			<br><br>
			<div id="flower_choice">
				<p>
				{% for i in range(4) %}
					<span class="flower_choice_item" onclick="change_current_flower({{ i }})"><img src="/static/images/flowers/{{ i }}.png" alt="Flower {{ i }}" height="20"></span>
				{% endfor %}
				<span class="flower_choice_item" onclick="change_current_flower(-1)"><img src="/static/images/flowers/scroll.png" alt="Message" height="20"> </span>
				</p>
			</div>
		{% endif %}
	{% else %}
		Welcome to {{ show_title }}'s cemetery. You can click on a grave to leave a flower in memory of a character.
		<br>
		Registered users can leave several types of flowers as well as messages.
		<br>
	
	{% endif %}
	<br>
	<form action="{{ url_for('cemetery', cemetery_id=show_id) }}" method="post">
		Sort graves by: 
		<select name="graves_sorting">
			<option value="chronological">Chronological order</option>
			<option value="popularity">Popularity</option>
		</select>
		<button>Reload</button>
	</form>
	<br>
	
	<div id="add_message_box" class="modal" display="none">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						Write here the message you want to leave. Other visitors will be able to see it once the cemetery maintenance will have approved it.<br>
						<input type="text" id="message_text">
						<br><br>
						<button onclick="leave_message()">Leave message.</button>
					</p>
				</div>
			</div>
		</div>  
	</div>

	{% if is_spoiler %}
	<div id="display_spoiler_cemetery" display="block">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						This is the cemetery of a show in your spoilers blacklist! Are you sure you want to view it?<br>
						<br>
						<button onclick="display_spoiler_cemetery()">View anyway.</button>
					</p>
				</div>
			</div>
		</div>  
	</div>
	{% endif %}

	<div id="cemetery_grounds" align="center">
			{% for i in range(graves_count) %}
				{% if characters[i] %}
				<div class="grave">
					<table>
						<tr class="grave_text">
							<td>
								<a href="/character/{{ characters[i].id }}">{{ characters[i].name }}</a><br>
								Season {{ characters[i].death_season }} Episode {{ characters[i].death_episode }}
							</td>
						</tr>
						<tr>
							<td>
								<div id="grave_{{ i }}" class="grave_plaque" grave_id="{{ i }}", character_id="{{ characters[i].id }}">
									{% for flower in characters[i].flowers %}
										<img src="/static/images/flowers/{{ flower.flowertype_id }}.png" alt="flower" style="position: absolute; 
										left: {% if flower.pos_x > 90 %}90{% else %} {{ flower.pos_x - 5 }}{% endif %}%;
										top: {% if flower.pos_y > 75 %}75{% else %} {{ flower.pos_y - 15 }}{% endif %}%
										">
									{% endfor %}
									{% for message in characters[i].messages %}
										{% if message.admin_id > 0 %}
										<span id="grave_message{{ i }}" class="grave_message">
											<span class="grave_message_text">{{ message.content }}</span>
											<img src="/static/images/flowers/scroll.png" alt="{{ message.content }}">
										</span>
										{% endif %}
									{% endfor %}
								</div><br>
								{% if characters[i].flowers|length == 1 %}
									<span id="grave_{{ i }}_count">1</span> flower.
								{% else %}
									<span id="grave_{{ i }}_count">{{ characters[i].flowers|length }}</span> flowers.
								{% endif %}
							</td>
						</tr>
					</table>
				</div>
				{% endif %}
			{% endfor %}
		
	</div>


<script src="/static/javascript/cemetery_loaded.js">
</script>

<script>
	{% if is_spoiler %}
	document.querySelector('#cemetery_grounds').style.display = "none";
	{% endif %}
</script>

</main>
{% endblock %}
