{% extends "layout_pages.html" %}

{% block inside_row %}
<script src="/static/javascript/character.js"></script>

<main id="character_page" class="col-12" role="main">

	{% if is_spoiler %}
	<div id="display_spoiler_cemetery" display="block">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						This is the page of a character from a show in your spoilers blacklist! Are you sure you want to view it?<br>
						<br>
						<button onclick="display_spoiler_character()">View anyway.</button>
					</p>
				</div>
			</div>
		</div>  
	</div>
	{% endif %}

	<div id="validation_box" class="modal" display="none">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						Do you want to burn (delete) the message you left there? This can't be undone!
						<br><br>
						<input type="submit" id="confirm_delete_message" value="Yes, I'm sure.">
						<button onclick="document.getElementById('validation_box').style.display='none'">Oh wait, no!</button>
					</p>
				</div>
			</div>
		</div>  
	</div>

	<div id="character_info">
		<h1>{{ character.name }}</h1>
		<h5>From <a href="{{ url_for('cemetery', cemetery_id=character.show_id) }}">{{ show.name }}</a></h5>
		<br>
		<div class="grave">
			<table>
				<tr class="grave_text">
					<td>
						<span class="character_name">{{ character.name }}</span><br>
						{% if show.is_series %}
							{% if show_seasons_count > 1 %}Season {{ character.death_season }} {% endif %}Episode {{ character.death_episode }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						<div id="grave_{{ character.id }}" class="grave_plaque" grave_id="{{ character.id }}", character_id="{{ character.id }}">
							{% for flower in character.flowers %}
								<img src="/static/images/flowers/{{ flower.flowertype_id }}.png" alt="flower" style="position: absolute; 
								left: {% if flower.pos_x > 90 %}90{% else %} {{ flower.pos_x - 5 }}{% endif %}%;
								top: {% if flower.pos_y > 75 %}75{% else %} {{ flower.pos_y - 15 }}{% endif %}%
								">
							{% endfor %}
							{% for message in character.messages %}
								{% if message.admin_id > 0 %}
								<span id="grave_message{{ character.id }}" class="grave_message">
									<span class="grave_message_text">{{ message.content }}</span>
									<img src="/static/images/flowers/scroll.png" alt="{{ message.content }}">
								</span>
								{% endif %}
							{% endfor %}
						</div>
					</td>
				</tr>
			</table>
		</div>
		{% if character_image %}
			{% if picture_url %}
			<div id="character_picture">
				<img src="/static/images/character_pictures/{{ picture_url }}" alt="{{ character.name }}"/>
			</div>
			{% endif %}
		{% endif %}
		{% if character.messages and character.messages|length > 0 %}
			<div id="character_messages">
				<h4>Messages left</h4>
				<div id="character_messages_list">
					{% for message in character.messages %}
						{% if message.admin_id > 0 %}
						<div id="message_{{ message.id }}" class="character_message" message_id="{{ message.id }}">
							<div class="character_message_header">
								Left by <a href="/user_profile/{{ message.user_id }}">{{ message.user.name }}</a>
								 on {{ message.date.strftime('%Y-%m-%d') }}
								 {% if current_user.is_authenticated and message.user_id == current_user.id %}
								 	<span class="delete_message">
								 		<img src="/static/images/fire.png" alt="Delete message" message_id="{{ message.id }}"/>
								 	</span>
								 {% endif %}
							</div>
							<div class="character_message_content">
								<img src="/static/images/flowers/scroll.png" height="20px"/> 
								{{ message.content }}
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
	<div id="other_characters">
		<h6>All deceased characters from <a href="{{ url_for('cemetery', cemetery_id=character.show_id) }}">{{ show.name }}</a>:</h6>
		{% for character in show_characters %}
			{% if show_characters[0].id != character.id %}· {% endif %}
		<a href="/character/{{ character.id }}">{{ character.name }}</a>
		{% endfor %}
	</div>
</main>

<script src="/static/javascript/character_loaded.js"></script>
<script>
	{% if is_spoiler %}
		document.querySelector('#character_info').style.display = "none";
		document.querySelector('#other_characters').style.display = "none";
	{% endif %}
</script>
{% endblock %}