{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="register_page" class="col-12" role="main">
	<h1>Create an account</h1>
		{% if error %}<p class="alert alert-info">{{ error }}</p>{% endif %}

		{% if success %}
		<p>
			{{ success }}
		</p>

		{% else %}
			
			{% if resend %}
			<p>Please fill your email address here under, we will send you a new activation code.</p>
				<form action="{{ url_for('confirm_registration') }}" method="post">
					<div class="register_panel">
						<input type="text" name="email" value="{{ email }}">
				    	<button name="resend">Resend activation code</button>
				    </div>
				</form>
			</p>

			{% else %}
			<p>To check the validity of your email address, we sent you an email containing an activation code. Please fill it in here to confirm your registration and activate your account! (It can sometimes take several minutes before you receive the validatio email).
				<form action="{{ url_for('confirm_registration') }}" method="post">
					<div class="register_panel_center">
						<input type="text" name="email" {% if email %}value="{{ email }}"{% endif %} placeholder="E-mail address">
				    	<input type="text" name="activation_code">
				    	<button name="validate" value="{{ email }}">Activate my account!</button>
				    </div>
				</form>
			</p>
			{% endif %}
			
		{% endif %}
</main>
{% endblock %}