{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="about" class="col-12" role="main">
	<h1>Contribute to OSGA</h1>
	<div id="about_desc">
		<p>
        OSGA is a small website, maintained by one person only (as of August 2020). No money is earnt from the website itself, and listing dead characters from shows can 
        take some time!<br>
        If you want to contribute to OSGA, you can help listing characters from series, or you can directly support us via <a href="https://www.buymeacoffee.com/OSGA">
        Buy Me a Coffee</a>!
        <br><br>
		</p>
		<h2>Help adding series to OSGA</h2>
			<p>
                We are very open to accept help to add series to OSGA. If you want to do so, here is a list of what you have to know:
                <ul>
                    <li>
                        First and foremost, contact us via the contact form. We will not open any file from a message that is sent to us without getting your contact info first! 
                        Also, keep in mind that we always have series we are working on, so please let us know what show you are interested to complete before starting working on it: 
                        it would be a shame to both do the same thing at the same time!
                    </li>
                    <li>
                        We will only accept your list of characters if it had a specific format. Here are the requirements:
                        <ul>
                            <li>The file is a spreadsheet with 4 columns: series title, character name, number of season of death, number of episode of death within this season (for 
                                example, if season 1 contains 10 episodes, and the character dies in season 2 episode 1, wirte 1 in this column, not 110.</li>
                            <li>Characters names are written in lowercase with an uppercase first for each part of the name (if unsure, look at the names on the graves in existing cemeteries!)</li>
                            <li>The file is saved in a .csv format (lighter and way more secure and easier for us to deal with).</li>
                        </ul>
                    </li>
                    <li>
                        Unsure about whether a character should get a grave? Here are a couple of guidelines that help us decide:
                        <ul>
                            <li>Only named characters get a grave (nicknames such as "The Demogorgon" also count as names!)</li>
                            <li>In certain series, a lot of unimportant named characters die (for instance: The Walking Dead). In this case, the rule of thumb is: 
                            "would anyone who just watched that episode feel sorry enough for this character to the point of clicking on their grave and leave a flower?"
                             If so, the character deserves a grave.</li>
                            <li>What about specific cases, like characters that get ressurected later on, zombies, universes with several timelines or dimensions, 
                                or other complicated situations? <br>
                                So far, our only rule of thumb is that characters who are confirmed dead during one episode, with no sign of getting ressurected, do 
                                get a grave for the viewers to mourn. For all other cases, please get in touch with us first!
                            </li>
                            <li>Non human characters are still characters! If their death is meaningful for the plot, for characters, or potentially any viewer, 
                                they should be added too!</li>
                        </ul>
                    </li>
                    <li>
                        After sending your .csv file, it will be reviewed by at least one or two persons who have watched the show. 
                        If they validate the file (no missing death, no unnecessary grave), the cemetary will be added to OSGA, and we will let you know about it!
                    </li>
                </ul>
			</p><br><br>

		<h2>Buy me a Coffee (or Tea)!</h2>
		<p>
            OSGA is "hobby project" created and maintained by one person, who regularly adds new shows and features, and also pays for the hosting and domain name out of their pocket. <br><br>
            This is quite some work and requires quite some caffeine, so if you enjoy OSGA and feel like helping, <a href="https://www.buymeacoffee.com/OSGA">click here</a> to buy me a coffee, 
            or a nice cup of tea (that's already enough caffeine :p). Any help will be greatly appreciated!
		</p>
	</div>
</main>
{% endblock %}