{% extends "layout_base.html" %}
	 
{% block content %}

<script>
	/* Code from W3Schools for drop down search */
	/* When the user clicks on the button,
	toggle between hiding and showing the dropdown content */
	function myFunction() 
	{
		document.getElementById("my").classList.toggle("show");
	}

	function filterFunction() 
	{
		var input, filter, ul, li, a, i;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		div = document.getElementById("myDropdown");
		a = div.getElementsByTagName("a");

		for (i = 0; i < a.length; i++) 
		{
	    	txtValue = a[i].textContent || a[i].innerText;
	    	if (txtValue.toUpperCase().indexOf(filter) > -1) 
	    	{
	    	  	a[i].style.display = "block";
	    	} 
	    	else 
	    	{
	      		a[i].style.display = "none";
	    	}
	  	}
	}
</script>

<div>
	<div id="front_page">      
		<h1>O S G A</h1>
		<h2>One Site to Grieve them All</h2>
		
      	{% if not session['username'] %}
			<div class="osga_index_login">
				<p>
					<a onclick="document.getElementById('login_box').style.display='block'" href="#">Log in</a> |
					<a href="/register">Register</a>
				</p>
			</div>
			<div id="login_box" class="modal" display="none">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Log in</h5>
          					<button type="button" class="close" data-dismiss="modal"  height="20px" onclick="document.getElementById('login_box').style.display='none'">&times;</button>
						</div>

						<div class="modal-body">
							<p>
								<form action="{{ url_for('login') }}" method="post">
									<label for="username"><b>Username: </b></label>
									<input type="text" placeholder="Enter Username" name="username" required><br>

									<label for="password"><b>Password: </b></label>
									<input type="password" placeholder="Enter Password" name="password" required><br>

									<button type="submit">Login</button><br>
								</form>
							</p>
						</div>
					</div>
				</div>
			</div>
		{% else %}
		<div class="osga_index_login">
				<p>
					<a href="/user_panel">Settings</a> |
					<a href="/user_profile/{{ session['user_id'] }}">Profile</a> |
					<a href="/logout">Log out</a>
				</p>
			</div>
		{% endif %}

		<div id="osga_main_search">
			<div id="main_dropdown">
				<div id="myDropdown" class="dropdown-content" onclick="myFunction()">
					<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
					{% for show in shows %}
						<a href="/cemetary/{{ show.id }}">{{ show.name }}</a>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %} 