{% extends "layout_base.html" %}
	 
{% block content %}

<script src="/static/javascript/main_search.js"></script>

<div>
	<div id="front_page">      
		<h1>O S G A</h1>
		<h2>One Site to Grieve them All</h2>
		
      	{% if current_user.is_authenticated %}

      		<div class="osga_index_login">
				<p>
					<a href="/user_panel">{{ content['settings'] }}</a> |
					<a href="/user_profile/{{ current_user.id }}">{{ content['profile'] }}</a> |
					<a href="/logout">{{ content['logout'] }}</a>
				</p>
			</div>
		
			
		{% else %}
		
			<div class="osga_index_login">
				<p>
					<a onclick="document.getElementById('login_box').style.display='block'" href="#">{{ content['login'] }}</a> |
					<a href="/register">{{ content['register'] }}</a>
				</p>
			</div>
			<div id="login_box" class="modal" display="none">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Log in</h5>
          					<button type="button" class="close" data-dismiss="modal"  height="20px" onclick="document.getElementById('login_box').style.display='none'">&times;</button>
						</div>

						<div class="modal-body">
							<p>
								<form action="{{ url_for('login') }}" method="post">
									<label for="username"><b>{{ content['username'] }}: </b></label>
									<input type="text" placeholder="{{ content['username_placeholder'] }}" name="username" required><br>

									<label for="password"><b>{{ content['password'] }}: </b></label>
									<input type="password" placeholder="{{ content['password_placeholder'] }}" name="password" required><br>

									<input type="checkbox" name="remember_me">
									<label for="remember_me"> {{ content['remember_me'] }}</label><br>
	
									<button type="submit">{{ content['login'] }}</button><br><br>

									<a href="/new_password">{{ content['forgot_my_password'] }}</a>

								</form>
							</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<div id="osga_main_search">
			<div id="main_dropdown">
				<div id="main_dropdown_list" class="osga_dropdown_content" onclick="main_dropdown_function()">
					<input type="text" placeholder="{{ content['search_placeholder'] }}" id="main_input" onkeyup="filter_function()">
					{% for show in shows %}
						{% if " (Universe)" in show.name %}
							<a href="/universe/{{ show.id }}">
								{{ show.name }}
							</a>
						{% else %}
							<a href="/cemetery/{{ show.id }}">
								{{ show.name }}
							</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
			
		<div id="footer">
		    <a href="/about">{{ content['about'] }}</a> | <a href="/terms">{{ content['terms'] }}</a> | <a href="/contact">{{ content['contact'] }}</a> | <a href="/contribute">{{ content['contribute'] }}</a> | {{ content['language_label'] }}: <a href="/language/en">EN</a>|<a href="/language/fr">FR</a> 
		</div>

	</div>
</div>
{% endblock %} 