{% extends "layout_base.html" %}
	 
{% block content %}

<script>
	function main_dropdown_function() 
	{
		document.getElementById("main_input").classList.toggle("show");
	}

	function filter_function() 
	{
		var input, filter, ul, li, a, i;
		input = document.getElementById("main_input");
		div = document.getElementById("main_dropdown_list");
		a = div.getElementsByTagName("a");
			
		if (input.value.length > 0)
		{
			filter = input.value.toUpperCase();
			
			var last_good_i = 0;

			for (i = 0; i < a.length; i++) 
			{
		    	txtValue = a[i].textContent || a[i].innerText;
		    	if (txtValue.toUpperCase().indexOf(filter) > -1) 
		    	{
		    	  	a[i].style.display = "block";
		    	  	a[last_good_i].style.borderBottom = "none";
		    	  	last_good_i = i;
		    	} 
		    	else 
		    	{
		      		a[i].style.display = "none";
		    	}
		  	}

		  	a[last_good_i].style.borderBottom = "1px solid gray";
		}
		else
		{			
			for (i = 0; i < a.length; i++) 
			{
				a[i].style.display = "none"
			}
		}
	}

</script>

<div>
	<div id="front_page">      
		<h1>O S G A</h1>
		<h2>One Site to Grieve them All</h2>
		
      	{% if current_user.is_authenticated %}

      		<div class="osga_index_login">
				<p>
					<a href="/user_panel">Settings</a> |
					<a href="/user_profile/{{ current_user.id }}">Profile</a> |
					<a href="/logout">Log out</a>
				</p>
			</div>
		
			
		{% else %}
		
			<div class="osga_index_login">
				<p>
					<a onclick="document.getElementById('login_box').style.display='block'" href="#">Log in</a> |
					<a href="/register">Register</a>
				</p>
			</div>
			<div id="login_box" class="modal" display="none">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Log in</h5>
          					<button type="button" class="close" data-dismiss="modal"  height="20px" onclick="document.getElementById('login_box').style.display='none'">&times;</button>
						</div>

						<div class="modal-body">
							<p>
								<form action="{{ url_for('login') }}" method="post">
									<label for="username"><b>Username: </b></label>
									<input type="text" placeholder="Enter Username" name="username" required><br>

									<label for="password"><b>Password: </b></label>
									<input type="password" placeholder="Enter Password" name="password" required><br>

									<input type="checkbox" name="remember_me">
									<label for="remember_me"> Remember me</label><br>

									<button type="submit">Log in</button>
								</form>
							</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<div id="osga_main_search">
			<div id="main_dropdown">
				<div id="main_dropdown_list" class="osga_dropdown_content" onclick="main_dropdown_function()">
					<input type="text" placeholder="Search for a show" id="main_input" onkeyup="filter_function()">
					{% for show in shows %}
						<a href="/cemetary/{{ show.id }}">{{ show.name }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
			
		<div id="footer">
		    <a href="/about">About</a> | <a href="/terms">Terms and Conditions</a> | <a href="/contact">Contact</a>
		</div>

	</div>
</div>
{% endblock %} 