{% extends "layout_base.html" %}
	 
{% block content %}   

<script>

	var json_shows_list = ""

	function get_top_search_options(e) 
	{
		if (json_shows_list.length == 0)
		{
			var xhttp = new XMLHttpRequest(); 

			ajax_url = "/get_shows_list";
			xhttp.open("GET", ajax_url, true);
			xhttp.setRequestHeader("Content-Type", "application/json");
			
	        xhttp.onreadystatechange = function () 
	        {
	            if (xhttp.readyState === 4 && xhttp.status === 200) 
	            {
	                json_shows_list = JSON.parse(xhttp.response);

	                let top_search_div = document.getElementById("top_dropdown_list");

			        for (i = 0; i < json_shows_list.length; i++)
			        {
			        	let search_link = document.createElement("a");
			        	search_link.innerHTML = json_shows_list[i].name;
			        	search_link.href = "/cemetary/" + json_shows_list[i].id;

			        	top_search_div.appendChild(search_link);
			        }
	            }
	        };
	        xhttp.send();
	    }
    }

    function top_dropdown_function() 
	{
		document.getElementById("top_input").classList.toggle("show");
	}

	function filter_function() 
	{
		var input, filter, ul, li, a, i, last_good_i;
		input = document.getElementById("top_input");
		div = document.getElementById("top_dropdown_list");
		a = div.getElementsByTagName("a");
			
		if (input.value.length > 0)
		{
			filter = input.value.toUpperCase();
			
			last_good_i = 0;

			for (i = 0; i < a.length; i++) 
			{
		    	txtValue = a[i].textContent || a[i].innerText;
		    	if (txtValue.toUpperCase().indexOf(filter) > -1) 
		    	{
		    	  	a[i].style.display = "block";
		    	  	a[last_good_i].style.borderBottom = "none";
		    	  	last_good_i = i;
		    	} 
		    	else 
		    	{
		      		a[i].style.display = "none";
		    	}
		  	}

		  	a[last_good_i].style.borderBottom = "1px solid gray";
		}
		else
		{			
			for (i = 0; i < a.length; i++) 
			{
				a[i].style.display = "none"
			}
		}
	}

</script>

<div class="container" id="top">
	<div class="col-12">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<ul class="navbar navbar-nav">
				<li class="nav-item">
					<a class="navbar-brand" href="/">O S G A</a>
				</li>
				<li class="nav-item top_dropdown">
					<div id="top_dropdown_list" class="osga_dropdown_content" onclick="top_dropdown_function()">
						<input type="text" placeholder="Search for a show" id="top_input" onkeyup="filter_function()">
					</div>
				</li>
			</ul>

			<ul class="navbar navbar-nav osga_right_nav">

				{% if current_user.name %}
		  		<li class="nav-item">	
		      		<div class="dropdown">
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
							{{ current_user.name}}
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/user_panel">User panel</a>
		  					<a class="dropdown-item" href="/logout">Log out</a>
		  				</div>
		  			</div>
	  			</li>
	  				
		  		{% else %}

		  		<li class="nav-item">	
	  				<a class="nav-link" onclick="document.getElementById('login_box').style.display='block'">Log in</a>
				</li>
				<li class="nav-item">	
					<a class="nav-item nav-link" href="/register">Register</a>
				</li>
		  		{% endif %}
		  		
		  	</ul>

			<div id="login_box" class="modal" display="none">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Log in</h5>
          					<button type="button" class="close" data-dismiss="modal"  height="20px" onclick="document.getElementById('login_box').style.display='none'">&times;</button>
						</div>

						<div class="modal-body">
							<p>
								<form action="{{ url_for('login') }}" method="post">
									<label for="username"><b>Username: </b></label>
									<input type="text" placeholder="Enter Username" name="username" required><br>

									<label for="password"><b>Password: </b></label>
									<input type="password" placeholder="Enter Password" name="password" required><br>

									<input type="checkbox" name="remember_me">
									<label for="remember_me"> Remember me</label><br>

									<button type="submit">Log in</button>
								</form>
							</p>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
<div class="container" id="main">
	<div class="row">
		<div class="col-12">
			{% block inside_row %}{% endblock %}
		</div>
	</div>
</div>
<div id="footer">
    <a href="/about">About</a> | <a href="/">Terms and Conditions</a> | <a href="/">Contact</a>
</div>

<script>
	let top_searchbar = document.getElementById("top_input");
	top_searchbar.addEventListener("click", get_top_search_options)
</script>
{% endblock %}
