{% extends "layout_base.html" %}
	 
{% block content %}   


<script src="/static/javascript/top_search.js"></script>

<div class="container" id="top">
	<div class="col-12">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<ul class="navbar navbar-nav">
				<li class="nav-item">
					<a class="navbar-brand" href="/">O S G A</a>
				</li>
				<li class="nav-item top_dropdown">
					<div id="top_dropdown_list" class="osga_dropdown_content" onclick="top_dropdown_function()">
						<input type="text" placeholder="Search for a show" id="top_input" onkeyup="filter_function()">
					</div>
				</li>
			</ul>

			<ul class="navbar navbar-nav osga_right_nav">

				{% if current_user.is_authenticated %}
		  		<li class="nav-item">	
		      		<div class="dropdown">
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
							{{ current_user.name}}
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/user_panel">User panel</a>
		  					<a class="dropdown-item" href="/logout">Log out</a>
		  				</div>
		  			</div>
	  			</li>
	  				
		  		{% else %}

		  		<li class="nav-item">	
	  				<a class="nav-link" onclick="document.getElementById('login_box').style.display='block'">Log in</a>
				</li>
				<li class="nav-item">	
					<a class="nav-item nav-link" href="/register">Register</a>
				</li>
		  		{% endif %}
		  		
		  	</ul>

			<div id="login_box" class="modal" display="none">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Log in</h5>
          					<button type="button" class="close" data-dismiss="modal"  height="20px" onclick="document.getElementById('login_box').style.display='none'">&times;</button>
						</div>

						<div class="modal-body">
							<p>
								<form action="{{ url_for('login') }}" method="post">
									<label for="username"><b>Username: </b></label>
									<input type="text" placeholder="Enter Username" name="username" required><br>

									<label for="password"><b>Password: </b></label>
									<input type="password" placeholder="Enter Password" name="password" required><br>

									<input type="checkbox" name="remember_me">
									<label for="remember_me"> Remember me</label><br>

									<button type="submit">Log in</button><br><br>

									<a href="/new_password">Forgot my password</a>
								</form>
							</p>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
<div class="container" id="main">
	<div class="row">
		<div class="col-12">
			{% block inside_row %}{% endblock %}
		</div>
	</div>
</div>
<div id="footer">
    <a href="/about">About</a> | <a href="/terms">Terms and Conditions</a> | <a href="/contact">Contact</a> | <a href="/contribute">Contribute</a>
</div>

<script src="/static/javascript/top_search_loaded.js">
</script>
{% endblock %}
