{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="register_page" class="col-12" role="main">
	<h1>{{ reset_password_label }}</h1>
		{% if error %}<p class="alert alert-info">{{ error }}</p>{% endif %}

		{% if success %}
		<p>
			{{ success }}
		</p>

		{% else %}

			{% if resent %}
				
				<p>{{ fill_new_password_message }}
					<form action="{{ url_for('new_password') }}" method="post">
						<div class="register_panel">
							{{email_address_label}}<br>
							<input type="text" name="email" value="{{ email }}"><br><br>
							{{confirmation_code_label}}<br>
					    	<input type="text" name="activation_code" placeholder="Confirmation code"><br><br>
					    	{{password_and_confirmation_label}}<br>
					    	<input type="password" name="password" placeholder="New password">
					    	<input type="password" name="password_confirmation" placeholder="New password (confirmation)"><br><br>
					    	<button name="validate" value="{{ email }}">{{confirm_password_creation_label}}</button>
					    </div>
					</form>
				</p>

			{% else %}

				<p>{{ fill_email_address_message }}
					<form action="{{ url_for('new_password') }}" method="post">
						<div class="register_panel">
							{{email_address_label}}<br>
							<input type="text" name="email" placeholder="{{ email }}"><br><br>
							<button name="send_confirmation">{{send_confirmation_code_button}}</button>
					    </div>
					</form>
				</p>




			{% endif %}
			
		{% endif %}
</main>
{% endblock %}