{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="register_page" class="col-12" role="main">
	<h1>Reset password</h1>
		{% if error %}<p class="alert alert-info">{{ error }}</p>{% endif %}

		{% if success %}
		<p>
			{{ success }}
		</p>

		{% else %}

			{% if resent %}
				
				<p>Please fill it here under as well as your e-mail address and your new password.
					<form action="{{ url_for('new_password') }}" method="post">
						<div class="register_panel">
							E-mail address<br>
							<input type="text" name="email" value="{{ email }}"><br><br>
							Confirmation code<br>
					    	<input type="text" name="activation_code" placeholder="Confirmation code"><br><br>
					    	Password and confirmation<br>
					    	<input type="password" name="password" placeholder="New password">
					    	<input type="password" name="password_confirmation" placeholder="New password (confirmation)"><br><br>
					    	<button name="validate" value="{{ email }}">Confirm password creation</button>
					    </div>
					</form>
				</p>

			{% else %}

				<p>Please fill your e-mail address here under. We will send you a unique confirmation code to allow you to change your password.
					<form action="{{ url_for('new_password') }}" method="post">
						<div class="register_panel">
							E-mail address<br>
							<input type="text" name="email" placeholder="{{ email }}"><br><br>
							<button name="send_confirmation">Send confirmation code</button>
					    </div>
					</form>
				</p>




			{% endif %}
			
		{% endif %}
</main>
{% endblock %}