{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="register_page" class="col-12" role="main">
	<h1>Create an account</h1>
		{% if error %}<p class="alert alert-info">{{ error }}</p>{% endif %}
		<p>Please fill the form below to register.
			<form action="{{ url_for('register') }}" method="post">
				<div class="register_panel">
					<table>
						<tr>
							<th>Username</th>
							<td colspan="2"><input type="text" name="username" placeholder="Username"> (Can only contain letters and numbers)<br></td>
						</tr>
						<tr>
							<th>Password</th>
							<td><input type="password" name="password" placeholder="Password"> (Must be at least 6 characters long)<br>
							<input type="password" name="password_confirmation" placeholder="Password (confirmation)"> </td>
						</tr>
						<tr>
							<th>E-mail address</th>
							<td><input type="text" name="email" placeholder="E-mail address"><br>
			    			<input type="text" name="email_confirmation" placeholder="E-mail confirmation"></td>
			    		</tr>
			    	</table>
			    	<button>Submit</button>
			    </div>
			</form>
		</p>
</main>
{% endblock %}