{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="register_page" class="col-12" role="main">
	<h1>{{ create_account_label }}</h1>
		{% if error %}<p class="alert alert-info">{{ error }}</p>{% endif %}
		<p>{{ fill_form_message }}
			<form action="/register" method="post">
				<div class="register_panel">
					<div class="register_panel_flexrow">
	  					<div class="register_panel_flexelement">{{ username_label }}</div>
						<div class="register_panel_flexelement">
							<input type="text" name="username" {% if username != "" %}value="{{ username }}"{% endif %} placeholder="Username"> 
							<br>{{username_conditions_message}}</div>
						</div>
					<div class="register_panel_flexrow">
	  					<div class="register_panel_flexelement">{{ password_label }}</div>
							<div class="register_panel_flexelement">
								<input type="password" name="password" {% if password != "" %}value="{{ password }}"{% endif %} placeholder="Password">
								<input type="password" name="password_confirmation" {% if password != "" %}value="{{ password }}"{% endif %}  placeholder="Password (confirmation)"> <br>{{ password_conditions_message }}</div>
						</div>
					<div class="register_panel_flexrow">
  						<div class="register_panel_flexelement">{{ email_address_label }}</div>
						<div class="register_panel_flexelement"><input type="text" name="email" {% if email != "" %}value="{{ email }}"{% endif %} placeholder="E-mail address">
							<input type="text" name="email_confirmation" {% if email != "" %}value="{{ email }}"{% endif %} placeholder="E-mail confirmation"></div>
		    		</div>
		    		<br>
		    		<input type="checkbox" name="read_terms" {% if read_terms %}checked="checked"{% endif %}> {{ confirm_terms }}<br><br>
		    		{{ captcha_message }}<br>
					{{ captcha() }}
					<input type="text" name="captcha"><br><br><br>
			    	<button>{{ confirm_registration_button }}</button><br><br>
			    </div>
			</form>
		</p>
</main>
{% endblock %}