{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="register_page" class="col-12" role="main">
	<h1>Create an account</h1>
		{% if error %}<p class="alert alert-info">{{ error }}</p>{% endif %}
		<p>Please fill the form below to register.
			<form action="{{ url_for('register') }}" method="post">
				<div class="register_panel">
					<div class="user_panel_flexrow">
	  					<div class="user_panel_flexelement">Username</div>
						<div class="user_panel_flexelement">
							<input type="text" name="username" placeholder="Username">
						</div>
						<div class="user_panel_flexelement">
							(Can only contain letters and numbers)<br></div>
						</div>
					<div class="user_panel_flexrow">
	  					<div class="user_panel_flexelement">Password</div>
							<div class="user_panel_flexelement">
								<input type="password" name="password" placeholder="Password"></div>
							<div class="user_panel_flexelement">
								<input type="password" name="password_confirmation" placeholder="Password (confirmation)"></div>
							<div class="user_panel_flexelement">
								(Must be at least 8 characters long)</div>
						</div>
					<div class="user_panel_flexrow">
  						<div class="user_panel_flexelement">E-mail address</div>
						<div class="user_panel_flexelement"><input type="text" name="email" placeholder="E-mail address"></div><br>
		    			<div class="user_panel_flexelement">
							<input type="text" name="email_confirmation" placeholder="E-mail confirmation"></div>
		    		</div>
			    	<button>Submit</button>
			    </div>
			</form>
		</p>
</main>
{% endblock %}