{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="about" class="col-12" role="main">
	<h1>{{ title }}</h1>
	<div id="about_desc">
		<p>
		{{ content["terms_intro"]| safe }}
		<br><br></p>

		<h3>{{ content["user_features_subtitle"]| safe }}</h3>
		<p>{{ content["user_features_paragraph"]| safe }}</p>

		<h3>{{ content["conditions_use_subtitle"]| safe }}</h3>
		<p>{{ content["conditions_use_paragraph"]| safe }}</p>

		<h3>{{ content["confidentiality_subtitle"]| safe }}</h3>
		<p>{{ content["confidentiality_paragraph"]| safe }}</p>

	</div>
</main>
{% endblock %}