{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="user_profile" class="col-12" role="main">
	<div class="user_panel">
		<table>
			<tr>
				<td>
					<h1>User profile: {{ user_profile_name }}</h1><br>
				</td>
			</tr>
			{% if user_profile_favourite_shows %}
				<tr>
					<td>	
						Favourite shows: 
						<form action="{{ url_for('search_cemetery') }}" method="post">
					    	<select name="cemetery_search">
					    		{% for show in user_profile_favourite_shows %}
									<option value="{{ show.name }}">{{ show.name }}</option>
								{% endfor %}
							</select>
							<button>See cemetery</button>
						</form><br>
					</td>
				</tr>
			{% endif %}
			<tr>
				<td>
					<h3>Activity:</h3>
					<p>
						{% if activity and activity|length > 0 %}
						<ul>
							{% for act in activity if act['show_id'] not in blacklist %}
							<li>
								[{{ act['date'].strftime('%Y-%m-%d') }}] {{ user_profile_name }} left a {{ act.type }} on <a href="/character/{{ act['character'].id }}">{{ act['character'].name }}</a>'s grave.
							</li>
							{% endfor %}
						</ul>
						{% else %}
						There is no activity to display for this user.
						{% endif %}
					</p>
				</td>
			</tr>
		</table>
	</div>
</main>
{% endblock %}