{% extends "layout_pages.html" %}

{% block inside_row %}
<main id="user_panel" class="col-12" role="main">
	<h1>User panel</h1>
	<ul class="nav nav-tabs">
  		<li class="nav-item">
    		<a class="nav-link {{ selected_shows_settings }}" href="/user_panel/shows_settings">Shows settings</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link {{ selected_user_settings }}" href="/user_panel/user_settings">User settings</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link {{ selected_suggestions }}" href="/user_panel/suggestions">Suggestions</a>
	  	</li>
	</ul>
	{% if error %}
		<div class="alert alert-info">{{ error }}</div>
	{% endif %}
	{% if success %}
		<div class="alert alert-success">{{ success }}</div>
	{% endif %}
	<div class="user_panel">
		{% if selected_shows_settings %}
  		<table>
  			<tr>
  				<td>Favourite shows:</td>
  				<td>
  					{% if favourite_shows_count > 0 %}
	  					<form action="/user_panel/shows_settings" method="post">
				  			<select id="favourite_shows" name="remove_favourited">
				  				{% for show in favourite_shows %}
									<option value="{{ show.id }}">{{ show.name }}</option>
								{% endfor %}
							</select>
							<button>Remove from favourites</button>
						</form>
					{% else %}
						You haven't added any show to your favourite yet.
					{% endif %}
				</td>
				<td rowspan="2" width="30%" class="small_description">Your favourite shows will appear on the main page of OSGA and can be displayed on your profile.</td>
			</tr>
			<tr>
				<td>Add to favourites:	</td>
				<td>
					<form action="/user_panel/shows_settings" method="post">
			  			<select name="add_favourite">
			  				{% for show in shows %}
			  					{% if show not in favourite_shows %}
								<option value="{{ show.id }}">{{ show.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<button>Add to favourites</button>
					</form>
		  		</td>
		  	</tr>
  			<tr>
  				<td><br></td>
  			</tr>
  			<tr>
  				<td>Spoilers blacklist:</td>
  				<td>
  					{% if blacklisted_shows_count > 0 %}
	  					<form action="/user_panel/shows_settings" method="post">
				  			<select id="blacklisted_shows" name="remove_blacklisted">
				  				{% for show in blacklisted_shows %}
									<option value="{{ show.id }}">{{ show.name }}</option>
								{% endfor %}
							</select>
							<button>Remove from blacklist</button>
						</form>
					{% else %}
						You haven't added any show to your blacklist.
					{% endif %}
				</td>
				<td rowspan="2" width="35%" class="small_description">OSGA activity related to shows that are in your spoilers blacklist will be censored. If you open a cemetery page of one of these shows, you will be asked for confirmation before being able to see the page.</td>
			</tr>
			<tr>
				<td>Add to spoilers blacklist: </td>
				<td>
		  			<form action="/user_panel/shows_settings" method="post">
			  			<select name="add_blacklist">
			  				{% for show in shows %}
			  					{% if show not in blacklisted_shows %}
								<option value="{{ show.id }}">{{ show.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<button>Add to spoilers blacklist</button>
					</form>
		  		</td>
		  	</tr>
  		</table>

  		{% elif selected_user_settings %}
  		<form action="#" method="post">
	  		<div class="user_panel_flexrow">
	  			<div class="user_panel_flexelement">Username:</div>
  				<div class="user_panel_flexelement">{{ current_user.name }}</div>
  				<div class="user_panel_flexelement"><a href="/user_profile/{{ current_user.id }}">See profile</a></div>
			</div>
			{% if fresh_session %}
				<div class="user_panel_flexrow">
					<div class="user_panel_flexelement">Password:	</div>
					<div class="user_panel_flexelement">
			  			<input type="password" name="password" placeholder="New password">
			  			<input type="password" name="password_confirmation" placeholder="Password (confirmation)">
			  		</div>
			  		<div class="user_panel_flexelement">
			  			<button>Change password</button>
			  		</div>
			  	</div>
	  			<div class="user_panel_flexrow">
	  				<div class="user_panel_flexelement">E-mail address:</div>
	  				<div class="user_panel_flexelement">
	  					<input type="text" name="email" placeholder="New e-mail address" {% if new_email_address %} value="{{ new_email_address }}" {% endif %}>
	  					<input type="text" name="email_confirmation" placeholder="New e-mail address (confirmation)" {% if new_email_address %} value="{{ new_email_address }}" {% endif %}>
	  					{% if new_email %}
	  						<input type="text" class="green_form" name="email_confirmation_code" placeholder="Confirmation code">
	  					{% endif %}
	  				</div>
	  				<div class="user_panel_flexelement">
			  			<button>Change e-mail address</button>
			  		</div>
			  		<td width="20%" class="small_description"> 
			  			Current address: {{ user_info.email }}
			  		</div>
	  			</div>
	  		{% else %}
	  			<div class="user_panel_flexrow">
	  					If you want to change your password or e-mail address, please log out and log in again first. 
	  					<br>This is to prevent the risk of someone using your old session to change your password and e-mail address!
	  			</div>
	  		{% endif %}

			<input type="checkbox" name="display_favourite" {% if user_info.display_fav %}checked="checked"{% endif %}>
			<label for="display_favourite"> Display favourite shows on profile</label><br>
			<input type="checkbox" name="display_activity" {% if user_info.display_activity %}checked="checked"{% endif %}>
			<label for="display_activity"> Display recent activity on profile</label><br><br>
			<input type="submit" name="update_pref" value="Update profile preferences"><br><br>
	  	</form>
	  	

  		{% else %}
  		<form action="#" method="post">
	  		Shows only have a cemetery if at least one of their characters died. We use a large database of shows, but it is possible that less known shows were forgotten. We don't want to let anyone in pain of mourning their favourite character, so feel free to suggest shows to add to our database!<br><br>

	  		Show that doesn't have a cemetery yet:<br>
			<input type="text" name="suggest_show" placeholder="Type a show's name.">
			<button>Suggest</button><br><br>
			
			Other suggestion:<br>
			<textarea name="other_suggestion"></textarea>	
			<br><br>
			<button>Send</button>
					
	  	</form>


  		{% endif %}

  	</div>

</main>
{% endblock %}